<p id="notice"><%= notice %></p>

<h1>Conta</h1>

<table>
  <thead>
  <tr>
    <th>Numero</th>
    <th>Saldo</th>
    <th>Data abertura</th>
    <th>Tipo</th>
    <th>Data encerramento</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @conta.each do |conta| %>
    <tr>
      <td><%= conta.numero %></td>
      <td><%= formata_dinheiro(conta.saldo) %></td>
      <td><%= imprimi_data(conta.data_abertura) %></td>
      <td><%= conta.tipo %></td>
      <td><%= imprimi_data(conta.data_encerramento) %></td>
      <% if conta.cliente_id == session[:usuario_id] %>
        <td><%= link_to 'Exibir', conta %></td>
        <td><%= link_to 'Editar', edit_conta_path(conta) %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
