<!DOCTYPE html>
<html>
<head>
  <title>NodeTeste</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<% if !params[:msn].nil? %>
  <div>
    <p>
    <h3><%= params[:msn][:mensagem] %></h3>
    </p>

<% end %>
<p>
  <%= link_to "Sair", :action => "logout", :controller => "sessao" %>
<hr>
<br>
<%= link_to "Clientes", :action => "index", :controller => "clientes" %> |
<%= link_to "Contas", :action => "index", :controller => "contas" %>
<hr>
</p>
</div>


<%= yield %>
</body>
</html>
